<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-header">Weather forecast</div>

                    <div class="card-body">
                        <input type="text" :class="{ 'is-invalid' : validateErrorCity }" name="city" v-model="city"
                               placeholder="City">
                        <input type="text" :class="{ 'is-invalid' : validateErrorCountry }" name="country_code"
                               v-model="countryCode" placeholder="Country Code">
                        <button class="btn btn-success" @click="getAverageTemperature">Get average Temperature</button>

                        <p v-show="showResult">{{ resultMessage }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                city: '',
                countryCode: '',
                averageTemperature: '',
                showResult: false,
                resultMessage: '',
                validateErrorCity: false,
                validateErrorCountry: false
            }
        },
        methods: {
            getAverageTemperature() {
                if (this.city === '') {
                    this.validateErrorCity = true;
                    return false;
                }
                this.validateErrorCity = false;
                if (this.countryCode === '') {
                    this.validateErrorCountry = true;
                    return false;
                }
                this.validateErrorCountry = false;

                axios.get('/api/forecast?city=' + this.city + '&country_code=' + this.countryCode)
                    .then(response => {
                        if (response.data.status) {
                            this.resultMessage = 'Average temperature for this city '
                                + this.city + ' is: ' + Math.round(response.data.averageTemperature);
                            this.showResult = true;
                        } else {
                            this.resultMessage = 'No forecast data for this city: ' + this.city;
                            this.showResult = true;
                        }
                    })
            }
        },
    }
</script>
<style scoped>
    .is-invalid {
        border: 2px solid red;
    }
</style>
